---
import Layout from "../../layouts/Layout.astro";
import TeamCard from "../../components/TeamCard.astro";
import TeamTab from "../../components/TeamTab.astro";

import ADVISORS from "../../data/advisors.json";
import CTMS from "../../data/ctms.json";
import EXECUTIVES from "../../data/execs.json";

export function getStaticPaths() {
  return [{ params: { team: "ctms" } }, { params: { team: "executives" } }, { params: { team: "advisors" } }];
}

const team = Astro.params.team as string;

let team_members = ADVISORS;
if (team === "ctms") {
  team_members = CTMS;
}
if (team === "executives") {
  team_members = EXECUTIVES;
}
---

<Layout title="Meet our Team">
  <main>
    <div class="container">
      <TeamTab />
      <ul role="list" class="link-card-grid">
        {
          team_members.length > 0 &&
            team_members.map((member) => (
              <TeamCard
                name={member.name}
                github_username={member.github_username}
                linkedin_url={member.linkedin_url}
              />
            ))
        }
      </ul>
    </div>
  </main>
</Layout>
<style>
  main {
    padding: 2rem;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10%;
  }

  .link-card-grid {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
    grid-gap: 1rem 3rem;
    padding: 1rem;
  }
</style>
