---
import Layout from "../../layouts/Layout.astro";
import TeamCard from "../../components/TeamCard.astro";
import TeamTab from "../../components/TeamTab.astro";
import TeamList from "../../components/TeamList.astro";
import TeamTable from "../../components/TeamTable.jsx";

import ADVISORS from "../../data/advisors.json";
import CTMS from "../../data/ctms.json";
import EXECUTIVES from "../../data/execs.json";
import ALUMS from "../../data/alums.json";
import Title from "../../components/Title.astro";
---

<Layout title="Meet our Team">
  <main>
    <div class="quote-section">
      <div class="quote">Individuals can and do make a difference. But it takes a team to really mess things up.</div>
      <a class="mouse" href="#team"></a>
    </div>
    <h1 id="team"><Title title="Meet The Team" /></h1>
    <TeamTab />
    <TeamTable client:load>
      <TeamList team_members={CTMS} slot='ctms' />
      <TeamList team_members={EXECUTIVES} slot='executives' />
      <TeamList team_members={ADVISORS} slot='advisors' />
    </TeamTable>
    <h1><Title title="Our Alums" /></h1>
    <TeamList team_members={ALUMS} />
  </main>
</Layout>

<style lang="scss">
  @import "../../styles/index.scss";
  main {
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    margin-bottom: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quote-section {
    height: 100vh;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    .quote {
      margin-top: 30vh;
      font-size: 3rem;
      font-weight: 500;
      text-align: center;

      @media (max-width: #{$screen-xl-max}) {
        margin-top: 20vh;
        font-size: 2rem;
      }
    }
  }

  // credits: https://codepen.io/TKS31/pen/gOaKaxx
  .mouse {
    width: 50px;
    height: 90px;
    border: 3px solid rgba($accent-color, 0.7);
    border-radius: 60px;
    position: relative;

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $accent-color;
      border-radius: 50%;
      opacity: 1;
      animation: wheel 2s infinite;
      -webkit-animation: wheel 2s infinite;
    }
  }

  @keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }

  h1 {
    font-size: 3rem;
    padding-top: 3rem;
    margin-bottom: 2rem;

    &:not(:first-of-type) {
      margin-bottom: 1rem;
    }
  }
</style>
