$background-primary: #111319;
$background-secondary: #13161D;
$text-primary: #96DBF9;
$text-secondary: #39B8FF;
$text-tertiary: #3E7C97;
$accent-color: #39B8FF;
$border-color: #00DFFF;

// Smartphones
$screen-sm-max: 479px;
$screen-sm-min: 480px;

// Tablets
$screen-md-max: 767px;
$screen-md-min: 768px;

// Large tablets and desktops
$screen-xl-max: 1449px;
$screen-xl-min: 1450px;
