$background-primary: #111319;
$background-secondary: #13161d;
$text-primary: hsl(198, 65%, 70%);
$text-secondary: hsl(198, 46%, 60%);
$text-tertiary: hsl(198, 40%, 50%);
$accent-color: hsl(202, 100%, 61%);
$border-color: #00dfff;

// Smartphones
$screen-sm-max: 479px;
$screen-sm-min: 480px;

// Tablets
$screen-md-max: 767px;
$screen-md-min: 768px;

// Large tablets and desktops
$screen-xl-max: 1449px;
$screen-xl-min: 1450px;
