---
import Layout from "../layouts/Layout.astro";
---

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro" />

<Layout title="404">
  <div>
    <pre
      class="ascii">
                      @@@@@@@@@@@@@@@@@@@@@                        @@@@@@@@@@@@@@@@@@@@@                                        @@@@@@@@@@@@@@@@@@@@@     
                      @@@@@@@@@@@@@@@@@@@@@                        @@@@@@@@@@@@@@@@@@@@@                                        @@@@@@@@@@@@@@@@@@@@@     
                @@@@@@@@@@@@@@@@@@@@@@@@@@@                   @@@@@@              @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@@@@@@@@     
                @@@@@@@@@@@@@@@@@@@@@@@@@@@                   @@@@@@              @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@@@@@@@@     
                @@@@@@@@@@@@@@@@@@@@@@@@@@@             @@@@@@@@@@@@              @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@@@@@@@@     
          @@@@@@@@@@@@@       @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@               @@@@@@@@@@@@@       @@@@@@@@@@@@@@     
          @@@@@@@@@@@@@       @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@               @@@@@@@@@@@@@       @@@@@@@@@@@@@@     
  @@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@     
  @@@@@@@@@@@@@               @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@              @@@@@@@@@@@@@@     
  @@@@@@@@@@@@@               @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@              @@@@@@@@@@@@@@     
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@              @@@@@@@@@@@@@             @@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                              @@@@@@@@@@@@@                    @@@@@@@@@@@@@             @@@@@@@                                        @@@@@@@@@@@@@     
                              @@@@@@@@@@@@@                    @@@@@@@@@@@@@             @@@@@@@                                        @@@@@@@@@@@@@     
                              @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@                                              @@@@@@@@@@@@@     
                              @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@                                              @@@@@@@@@@@@@     
    </pre>
    <div class="type-box-container">
      <p class="type-box" id="type-box-404"></p>
    </div>
  </div>
</Layout>

<script>
  import { Typoist } from "typoist";
  const typeIt = (selector, text, options) => {
    const textArea = document.querySelector(selector);
    if (textArea) {
      const typoist = new Typoist({
        ...options,
        appendFunction: async (character) => (textArea.innerHTML += character),
        deleteFunction: async () => (textArea.innerHTML = textArea.innerHTML.slice(0, -1)),
      });

      typoist.type(text);
    }
  };

  window.addEventListener("load", () => {
    typeIt("#type-box-404", "You tried to access a forbidden page. This incident will be reported.", {
      speed: 10,
      mistakeProbability: 0,
    });
  });
</script>

<style>
  pre {
    user-select: none;
    font-size: 1vw;
  }
  .ascii {
    position: relative;
    top: 9vh;
    padding-left: 3.5vw;
    opacity: 50%;
    display: inline-block;
    padding-top: 10vh;
  }
  .type-box-container {
    position: relative;
    width: 100%;
    padding-left: 9vw;
    margin: 19vh 0%;
    display: inline-block;
  }
  .type-box {
    padding-top: 3.5vh;
    font-size: 2vw;
    font-family: Source Code Pro;
    min-width: 100%;
  }
  .type-box::after {
    font-family: "Press Start 2P", cursive;
    content: "g";
    border-left: 5px solid;
    border-color: white;
    animation: blink 0.7s infinite;
    color: transparent;
    margin-left: 2px;
  }
  @keyframes blink {
    0%,
    100% {
      border-left-color: transparent;
    }

    50% {
      border-left-color: white;
    }
  }
</style>
