---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro" />

<Layout title="404">
  <Section id="404">
    <pre
      class="ascii">
                      @@@@@@@@@@@@@@@@@@@@@                        @@@@@@@@@@@@@@@@@@@@@                                        @@@@@@@@@@@@@@@@@@@@@
                      @@@@@@@@@@@@@@@@@@@@@                        @@@@@@@@@@@@@@@@@@@@@                                        @@@@@@@@@@@@@@@@@@@@@
                @@@@@@@@@@@@@@@@@@@@@@@@@@@                   @@@@@@              @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@@@@@@@@
                @@@@@@@@@@@@@@@@@@@@@@@@@@@                   @@@@@@              @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@@@@@@@@
                @@@@@@@@@@@@@@@@@@@@@@@@@@@             @@@@@@@@@@@@              @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@@@@@@@@
          @@@@@@@@@@@@@       @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@               @@@@@@@@@@@@@       @@@@@@@@@@@@@@
          @@@@@@@@@@@@@       @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@               @@@@@@@@@@@@@       @@@@@@@@@@@@@@
  @@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@
  @@@@@@@@@@@@@               @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@              @@@@@@@@@@@@@@
  @@@@@@@@@@@@@               @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@              @@@@@@@@@@@@@@
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@              @@@@@@@@@@@@@             @@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                              @@@@@@@@@@@@@                    @@@@@@@@@@@@@             @@@@@@@                                        @@@@@@@@@@@@@
                              @@@@@@@@@@@@@                    @@@@@@@@@@@@@             @@@@@@@                                        @@@@@@@@@@@@@
                              @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@                                              @@@@@@@@@@@@@
                              @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@                                              @@@@@@@@@@@@@
    </pre>
    <p class="type-box" id="type-box-404"></p>
  </Section>
</Layout>

<script>
  import { typeIt } from "../utils/typeIt";

  const hackerTextEffect = (target, duration) => {
    const chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz`~!@#$%^&*(){}:\"|<>?,./;'[]\\=-0987654321";
    let reqId, start;
    const step = (timestamp) => {
      if (start === undefined) start = timestamp;
      const progress = timestamp - start;
      target.innerText = target.innerText
        .split("")
        .map((letter) => (/^\s*$/.test(letter) ? letter : chars[Math.floor(Math.random() * chars.length)]))
        .join("");

      if (progress > duration) {
        window.cancelAnimationFrame(reqId);
      } else {
        reqId = window.requestAnimationFrame(step);
      }
    };

    reqId = window.requestAnimationFrame(step);
  };
  const handleOnMove = (event) => {
    // the gradient part
    const rect = ascii.getBoundingClientRect(),
      x = event.clientX - rect.left,
      y = event.clientY - rect.top;

    ascii.style.setProperty("--x", `${x}px`);
    ascii.style.setProperty("--y", `${y}px`);

    // the text shuffle on hover part
    hackerTextEffect(event.target, 1);
  };

  let ascii = document.querySelector(".ascii");
  window.addEventListener("load", () => {
    typeIt("#type-box-404", "You tried to access a forbidden page. This incident will be reported.", {
      speed: 10,
      mistakeProbability: 0,
    });
    hackerTextEffect(ascii, 1000);
  });

  ascii.onmousemove = (e) => handleOnMove(e);
</script>

<style lang="scss">
  @import "../styles/index.scss";

  pre {
    user-select: none;
    font-size: 1vw;
  }

  .ascii {
    --x: 50%;
    --y: 50%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    background: radial-gradient(circle at var(--x) var(--y), $text-primary 40%, $background-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    opacity: 100%;
    font-size: 0.6cqi;
  }

  .type-box {
    width: 100%;
    margin: 10vh 0;

    text-align: center;
    font-family: Source Code Pro;

    font-size: 1.5cqi;
  }

  @media (max-width: #{$screen-xl-max}) {
    .type-box {
      font-size: 3cqi;
    }
  }

  .type-box::after {
    content: "";

    border-left: 1px solid;
    border-color: white;
    margin-left: 3px;

    animation: blink 1s infinite;
  }

  @keyframes blink {
    0%,
    100% {
      border-left-color: transparent;
    }

    50% {
      border-left-color: white;
    }
  }
</style>
