---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About KOSS">
  <div class="quote">
    <div class="quote__content">"Collaboration is better than Competition"</div>
    <div class="quote__author">- xypnox</div>
  </div>
  <section>
    <div class="section-text">
      <h1 class="section-heading">About KOSS</h1>
      <p class="section-body">
        The Kharagpur Open Source Society (KOSS) is a community of open source enthusiasts at IIT Kharagpur. We
        collaborate on innovative open source projects, applying cutting-edge solutions to real-world problems. The
        community promotes knowledge-sharing and personal growth in a supportive and engaging environment.
      </p>
    </div>
    <div class="section-image">
      <img
        src="https://images.pexels.com/photos/1756665/pexels-photo-1756665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="About KOSS"
      />
    </div>
  </section>
  <section>
    <div class="section-text">
      <h1 class="section-heading">About KOSS</h1>
      <p class="section-body">
        The Kharagpur Open Source Society (KOSS) is a community of open source enthusiasts at IIT Kharagpur. We
        collaborate on innovative open source projects, applying cutting-edge solutions to real-world problems. The
        community promotes knowledge-sharing and personal growth in a supportive and engaging environment.
      </p>
    </div>
    <div class="section-image">
      <img
        src="https://images.pexels.com/photos/1756665/pexels-photo-1756665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="About KOSS"
      />
    </div>
  </section>
  <section>
    <div class="section-text">
      <h1 class="section-heading">About KOSS</h1>
      <p class="section-body">
        The Kharagpur Open Source Society (KOSS) is a community of open source enthusiasts at IIT Kharagpur. We
        collaborate on innovative open source projects, applying cutting-edge solutions to real-world problems. The
        community promotes knowledge-sharing and personal growth in a supportive and engaging environment.
      </p>
    </div>
    <div class="section-image">
      <img
        src="https://images.pexels.com/photos/1756665/pexels-photo-1756665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="About KOSS"
      />
    </div>
  </section>
</Layout>

<style lang="scss">
  @import "../styles/index.scss";

  .quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    width: fit-content;

    &__content {
      font-size: 2.5rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 0.8rem;
      color: rgba(#fd841f, 0.8);
    }

    &__author {
      font-size: 1.5rem;
      font-weight: 400;
      text-align: right;
      margin-left: auto;
      color: rgba(#c6bebc, 0.8);
    }
  }

  section {
    margin: 20rem auto;
    width: 100%;
    max-width: 80vw;
    padding: 0 1rem;

    &:first-of-type {
      margin: 10rem auto;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    .section-text {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .section-heading {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 0.8rem;
        letter-spacing: 1.2px;
      }

      .section-body {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 1.2px;
        color: rgba(#c6bebc, 0.8);
      }
    }

    .section-image {
      width: 150rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
  }
</style>
