---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Kharagpur Open Source Society.">
  <main>
    <h1>Welcome to KOSS</h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }
</style>
