---
import Layout from "../layouts/Layout.astro";
import PageSection from "../components/PageSection.astro";

import KOSSLogoNeon from "../assets/koss-neon.svg";
---

<Layout title="Welcome to Kharagpur Open Source Society.">
  <main>
    <h1>Welcome to KOSS</h1>
  </main>

  <PageSection
    title="Kharagpur Open Source Society"
    image_src={KOSSLogoNeon}
    image_alt="KOSS Logo"
    description="We are a group of Open Source Enthusiasts who focus on something more preliminary and relevant, 'A Love for Coding'. Every year KOSS plans to hold events for familiarizing students with UNIX tools, Linux environment, Git Development Workflow, practice Algorithms and Data Structures, besides conducting workshops on GUI programming, Web development, Android application Development and Hackathons."
  />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }
</style>
