---
import Layout from "../layouts/Layout.astro";
//import AboutSection from "../components/AboutSection.astro";
//import Hero from "../components/Hero.astro";
import TeamCard from "../components/TeamCard.astro";
---

<Layout title="Welcome to Kharagpur Open Source Society">
  <!-- ---sample view---
  <main>
    <h2 class="member">Executives</h2>
    <ul role="list" class="link-card-grid">
      <TeamCard
        pref=""
        name="Aditya Mishra"
        gref=""
        lref=""
      />
      <TeamCard
        pref=""
        name="Aditya Ranjan Jha"
        gref=""
        lref=""
      />
      <TeamCard
        pref=""
        name="Ananya Das"
        gref=""
        lref=""
      />
      <TeamCard
        pref=""
        name="Anushka Srivastava"
        gref=""
        lref=""
      />
      <TeamCard
        pref=""
        name="Ashwani Kumar Kamal"
        gref=""
        lref=""
      />
      <TeamCard
        pref=""
        name="Atharva Amritkar"
        gref=""
        lref=""
      />
    </ul>
  </main>
</Layout>
  
<style>

main {    
    padding: 2rem;
		width: 100%;
		/*max-width: calc(100% - 2rem);
		font-size: 20px;
	  line-height: 1.6;*/
	}

  .link-card-grid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
  gap: 2rem; /*calc(10px + 10%)*/
  padding: 0rem;
}

.member{
  text-align: center;
  padding-bottom: 2rem;
}
</style>

-->