<script src="https://harshkhandeparkar.github.io/typoist/dist/typoist.min.js"></script>
<div class="center">
  <pre
    class="ascii">
                    @@@@@@@@@@@@@@@@@@@@                         @@@@@@@@@@@@@@@@@@@@@                                        @@@@@@@@@@@@@@@@@@@@      
                    @@@@@@@@@@@@@@@@@@@@                         @@@@@@@@@@@@@@@@@@@@@                                        @@@@@@@@@@@@@@@@@@@@      
              @@@@@@@@@@@@@@@@@@@@@@@@@@@                   @@@@@@              @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@@@@@@@      
              @@@@@@@@@@@@@@@@@@@@@@@@@@@                   @@@@@@              @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@@@@@@@      
              @@@@@@@@@@@@@@@@@@@@@@@@@@@             @@@@@@@@@@@@              @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@@@@@@@      
        @@@@@@@@@@@@@       @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@               @@@@@@@@@@@@@       @@@@@@@@@@@@@      
        @@@@@@@@@@@@@       @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@               @@@@@@@@@@@@@       @@@@@@@@@@@@@      
@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@      
@@@@@@@@@@@@@               @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@              @@@@@@@@@@@@@      
@@@@@@@@@@@@@               @@@@@@@@@@@@@             @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@              @@@@@@@@@@@@@      
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@                    @@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@              @@@@@@@@@@@@@             @@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                            @@@@@@@@@@@@@                    @@@@@@@@@@@@@             @@@@@@@                                        @@@@@@@@@@@@@     
                            @@@@@@@@@@@@@                    @@@@@@@@@@@@@             @@@@@@@                                        @@@@@@@@@@@@@     
                            @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@                                              @@@@@@@@@@@@@     
                            @@@@@@@@@@@@@                          @@@@@@@@@@@@@@@@@@@@@                                              @@@@@@@@@@@@@     
  </pre>
  <p class="type-box" id="error-desc"></p>
</div>

<script>
  const typeIt = (selector, text, options) => {
    const textArea = document.querySelector(selector);

    const typoist = new Typoist.Typoist({
      ...options,
      appendFunction: (character) =>
        new Promise((resolve) => {
          textArea.innerText += character;
          resolve();
        }),
      deleteFunction: () =>
        new Promise((resolve) => {
          textArea.innerText = textArea.innerText.slice(0, -1);
          resolve();
        }),
    });

    typoist.type(text);
  };

  window.onload = () => {
    typeIt("#error-desc", "You tried to access a forbidden page. This incident will be reported", {
      speed: 5,
      mistakeProbability: 0,
    });
  };
</script>

<style>
  pre {
    user-select: none;
    font-size: 1vw;
  }
  .ascii {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    opacity: 50%;
  }
  .center {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px;
  }
  .type-box {
    padding-top: 3.5vh;
    font-size: 2vw;
    font-family: courier, courier new, serif;
    transform: translate(-3%, 250%);
    width: max-content;
  }
  .type-box::after {
    font-family: "Press Start 2P", cursive;
    content: "g";
    border-left: 5px solid;
    border-color: white;
    animation: blink 0.7s infinite;
    color: transparent;
    margin-left: 2px;
  }
  @keyframes blink {
    0%,
    100% {
      border-left-color: transparent;
    }

    50% {
      border-left-color: white;
    }
  }
</style>
