---
import Icon from "./Icon.astro";
import Section from "./Section.astro";
---

<Section id="hero">
  <Icon icon="koss-wall" />
</Section>

<style is:global>
  #hero .section-wrapper {
    gap: 3rem;
    max-width: 600px;
  }
</style>
