---
import Icon from "./Icon.astro";
import Section from "./Section.astro";
---

<Section id="hero">
  <Icon icon="koss-wall" />
</Section>

<style is:global>
  #hero .section-wrapper {
    gap: 3rem;
    max-width: 600px;
    margin-top: 5vh;
  }

  @container Section (max-width: 1450px) {
    #hero .section-wrapper {
      max-width: 400px;
      max-height: 450px;
    }
  }

  @container Section (max-width: 768px) {
    #hero .section-wrapper {
      margin-top: 15vh;
    }
  }
</style>
