---
import Icon from "./Icon.astro";
---

<section id="hero" class="section-container">
  <div class="section-wrapper">
    <Icon icon="koss-wall" />
  </div>
</section>

<style>
  section {
    height: 100dvh;

    display: flex;
    flex-direction: column;

    container: Section / inline-size;
  }

  .section-wrapper {
    display: flex;
    justify-content: center;

    width: 70vw;
    max-width: 600px;
    margin: 3cqi auto;
  }
</style>
