---
export interface Props {
  id: string;
}

const { id } = Astro.props as Props;
---

<section id={id}>
  <div class="section-wrapper">
    <slot />
  </div>
</section>

<style>
  section {
    min-height: 100dvh;

    display: flex;
    flex-direction: column;

    container: Section / inline-size;
  }

  .section-wrapper {
    width: 70vw;
    margin: 10vh auto;

    display: flex;
    flex-direction: row;
    align-items: center;
  }
</style>
