---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

{
  title.split(" ").map((word) => (
    <>
      <span class="title-highlight">{word[0]}</span>{word.slice(1)}
    </>
  ))
}

<style lang="scss">
  @import "../styles/index.scss";

  .title-highlight {
    color: $accent-color;
  }
</style>
