---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

{
  title.split(" ").map((word) => (
    <>
      <>
        <span class="title-highlight">{word[0]}</span>
        <span class="title-text">{word.slice(1)}</span>
      </>
    </>
  ))
}

<style lang="scss">
  @import "../styles/index.scss";

  .title-text {
    color: $text-secondary;
  }

  .title-highlight {
    color: $accent-color;
  }
</style>
