---
import Icon from "../components/Icon.astro";
import Section from "../components/Section.astro";
---

<Section id="hero">
  <Icon icon="koss-wall" />
</Section>

<style is:global lang="scss">
  @import "../styles/index.scss";

  #hero .section-wrapper {
    gap: 3rem;
    max-width: 600px;
    margin-top: 5vh;
  }

  @container Section (max-width: #{$screen-xl-max}) {
    #hero .section-wrapper {
      max-width: 400px;
      max-height: 450px;
    }
  }

  @container Section (max-width: #{$screen-md-max}) {
    #hero .section-wrapper {
      margin-top: 15vh;
    }
  }
</style>
